.wrapper {
  padding: 50px 80px 12px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #B29F7E;
  margin-bottom: 20px;
}

.dealsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
    text-align: center;
  }

  .dealsGrid {
    grid-template-columns: none
  }
}

@media (max-width: 768px) {
  .dealsGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
}